html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; } /* Stopka*/


#footer { /* Stopka */
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: -2em;
}

#bity { /* Umiejscowienie checkboxów do dni tygodni*/
	text-align: left !important;
	margin: auto;
}

.rameczka {
	
	margin-bottom: 2em;
}

.button {
display:inline-block;
min-width: 50px;
width: 150px;
padding:5px 10px;

}